<ion-view>
<ion-nav-title ng-bind-html="offerDetailsTitel"></ion-nav-title>

<ion-nav-buttons side="right">
        <a class="button button-icon icon ion-android-share-alt" ng-click="share.show()"></a>
        <a class="button button-icon icon ion-android-star" ng-click="addTofavorite(data)"></a>
</ion-nav-buttons>

<ion-content overflow-scroll="false" has-bouncing="true">

<swiper class="zindexmin">
<slides>
    <slide ng-repeat="item in gallery" ng-if="item.offer_id==data.offer_id">   
        <div class="card-1" style="margin: 0; border-radius: 0;background-image: url('{{imagesfolder}}/{{item.image_name}}');box-shadow: none;width: 100%;background-position: center;">
        </div>
    </slide>
    <slide ng-if="showOtherImg">   
        <div class="card-1" style="margin: 0; border-radius: 0;background-image: url('{{imagesfolder}}/{{showOtherImg}}');box-shadow: none;width: 100%;background-position: center;">
        </div>
    </slide>
</slides>
<pagination></pagination>
</swiper> 
 <!--<div class="image-post" style="margin: 0;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('{{imagesfolder}}/{{data.offer_image}}')" src-is="background">

</div>-->

<span style="display: none;">{{data.id}}</span>
<div class="row flex_wrap padding">
    <div class="col col-res-50">
        <div class="place-img zindex">
            <img src='{{imagesfolder}}/{{data.offer_featured_image}}' class="shadow">
        </div>
    </div>

    <div class="col col-res-50">
        <span class="category-offer offer-tag zindex ">
            <span ng-bind-html="data.category_name" class="fontsize"></span>
          </span>
    </div>



</div>
<div class="padding" id="offer" style="padding-bottom: 0;">

  
  <a class="item item_title" style="border: none; ">
      <h3 class="offer-heading">{{data.offer_angebot}}</h3>
  </a>
    
    <div class="content" ng-bind-html="data.offer_description | limitext:true:150:' ...'"></div>
    <div class="text-center margintopinminus"><a ng-click="modal.show()" class="greenText">{{readmoretext}}</a></div>
  
  </div>
<div class="padding text-center">
    <div class="color_gray marginFromBottom" ng-if='data.offer_date_start'> Gültig von {{data.offer_date_start | date:'dd.MM.yyyy'}} bis {{data.offer_date_end | date:'dd.MM.yyyy'}}</div> 
    <button class="button button-block button-large greenButton buttonForOffer uppercase priceOutercircle" ng-click="takeToOffer()">{{data.offer_button_titel}}</button>
    <div class="fontsize text-center" ng-if="place_anzahl_tage">Warnung: Nach Einlösen erst wieder in {{place_anzahl_tage}} Tage verfügbar</div>
</div>

<p class="text-center" ng-if="data.offer_terms">
    <a ng-click="teil.show()" class="greenText">TEILNAHMEBEDINGUNGEN</a>
</p>

 <div class="list Aktionen2" id="item-detail">
   <div class="row flex_wrap">
    <div class="col col-100 col-res-50" ng-if="data.offer_hours">
        <a class="item item-avatar">
          <img src="img/clock.svg">
          <h3>Öffnungszeiten</h3>
          <p ng-bind-html='data.offer_hours'></p>
        </a>
    </div>

    <div class="col col-100 col-res-50" ng-if="data.offer_address">
      <a class="item item-avatar item-icon-right" ng-click="openMap(map)">
          <img src="img/pin.svg">
          <h3>{{address}}</h3>
          <i class="icon ion-navigate"></i>
          <p ng-bind-html="data.offer_address | limitext:true:26:'...'"></p>

        </a>
    </div>
</div>

<div class="row flex_wrap">

    <div class="col col-100 col-res-50" ng-if="data.offer_website">
        <a class="item item-avatar item-icon-right" ng-click="openWebsite(website)">
        <!--<a class="item item-avatar item-icon-right" href="#" onclick="window.open('website', '_system', 'location=yes'); return false;">-->
              <img src="img/website.svg">
              <h3>{{website}}</h3>
              <i class="icon ion-forward"></i>
              <p ng-bind-html="data.offer_website | limitext:true:26:'...'"></p>
        </a>
    </div>

    <div class="col col-100 col-res-50" ng-if="data.offer_phone">
    <a class="item item-avatar" href="tel:{{data.offer_phone}}" >
          <img src="img/phone.svg">
          <h3>{{phone}}</h3>
          <p ng-bind-html="data.offer_phone"></p>
    </a>
    </div>
</div>
     
   <div class="row flex_wrap">
    <div class="col col-100 col-res-50">


    </div>

    <div class="col col-100 col-res-50" ng-if="data.offer_facebook">
        <a class="item item-avatar" ng-click="FBopen(facebook)" >
        <img ng-src="img/facebook.png">
        <h3>Facebook</h3>
        <p ng-bind-html="data.offer_facebook"></p>
        </a>
    </div>


    </div>
</div>
<!-- Reviews starts index = {{$index}}, review_topid = {{item.review_topid}}, offer_id = {{data.offer_id}}, limit = {{limit}}, -->
<div class="list" ng-repeat="item in filtered = (dataa | filter: query) | limitTo: limit"  style="margin-bottom: 5px;border-bottom: 0px solid #eee;">
    <button class="icon ion-android-close remove-review" ng-if='item.review_userid == userId' ng-click="removeReview(item.review_id)" ></button>
    <a class="item item-avatar" style="border: none;">
      <img ng-src="{{item.review_user_photo}}">
      <h2 style="font-size: 14px;">{{item.review_user_firstname}}</h2>
        <div class="starrating">
              <rating ng-model="item.review_stars" max="ratingFull.max"></rating>
        </div>
      <p ng-bind-html="item.review_comment"></p>
    </a>
</div>
<div class="" ng-show="filtered.length > 0" >
        <div class="col col-100 text-center">
            <button class="button button-small greenButton" ng-click="incrementLimit()">Mehr sehen</button> 
        </div>
</div>

<!-- Reviews Ends -->
    
    <!-- Reviews rating form starts -->
<div class="row flex_wrap">
    <div class="col col-100">

        <form name="Form" ng-submit="sendRatingForm()" class="FormClass" novalidate>
        <h5 class="text-center">Gib deine Bewertung ab</h5>
        <div class="list" style="margin-bottom: 0">
          <label class="item item-input as index">
            <textarea placeholder="Bewerte das Angebot/die Location…" ng-model="review.message" required></textarea>
          </label>
        </div>
        <div class="reviewForm">
            <rating ng-model="ratingFull.rate" max="ratingFull.max"></rating>
        </div>
        <div class="padding">
          <button class="button button-block black" type="submit" ng-disabled="Form.$invalid">{{FormReviewSend}}</button>
        </div>

        </form>
    </div>
</div>
    <!-- Reviews rating form Ends -->
<div class="row flex_wrap" ng-if="data.offer_audience">
    <iframe width="100%" height="215" src="{{trustSrc(data.offer_audience)}}"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<!--
<div class="padding" id="offer">

  <h5 class="title_border" ng-bind-html="detailsofferText"></h5>
  <p ng-bind-html="data.offer_description"></p>

  <h5 class="title_border" ng-bind-html="howtouseOfferText"></h5>
  <p ng-bind-html="data.offer_terms"></p>
  <br/>

</div>

<a class="item item_title" style="text-align: center;" ng-bind-html="buynow">
</a>

<div class="padding">

  <a class="pagos" ng-click="paypal(paymentpaypal)" style="margin-bottom: 0px;">
  <img src="img/paypal.png">
  </a>

  <a class="pagos" ng-click="stripe(paymentstripe)">
  <img src="../img/stripe.png">
  </a>-->

<!--</div>
    -->



<a class="item item_title" href="#/tab/ocategories">
    {{relatedOfferstext}}
<span class="item-note" ng-bind-html="moretext"></span>
</a>

<div class="row responsive-sm flex_wrap">
    <div class="col col-100 col-res-50" ng-repeat="item in offers | limitTo: 15" ng-if="item.offer_category==data.offer_category&&item.offer_id!=data.offer_id" style="margin-bottom: 0px;">
        <div class="card-2" style="margin: 0;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('{{imagesfolder}}/{{item.offer_image}}');">
          <div class="card-2-category"><span class="card-2-price">{{item.offer_angebot}}</span></div>
          <div class="card-2-description">
            <h2 ng-bind-html="item.offer_title"></h2>
            <p ng-bind-html="item.category_name"></p>
          </div>
          <a class="card-2-link" href="#/tab/offer/{{item.id}}" ></a>
        </div>
    </div>
</div>
    
<script id="share.html" type="text/ng-template">
    <ion-modal-view>
  
      <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title" ng-bind-html="titleShare"></h1>
        <div class="button button-icon" ng-click="share.hide()"><span class="icon ion-ios-close-empty"></span></div>
      </ion-header-bar>
  
      <ion-content has-bouncing="false" class="social_share">
  
        <div class="row row-center">
        <div class="padding center_content">
  
        
          <a ng-click="shareViaFacebook()" class="button icon-left ion-social-facebook button-assertive facebook">Facebook</a>
          <a ng-click="shareViaWhatsApp()" class="button icon-left ion-social-whatsapp button-assertive whatsapp">WhatsApp</a>
          <a ng-click="shareViaGoogle()" class="button icon-left ion-social-googleplus button-assertive googleplus">Google Plus</a>
          <a ng-click="shareViaTwitter()" class="button icon-left ion-social-twitter button-assertive twitter">Twitter</a>
          <a ng-click="OtherShare()" class="button icon-left ion-android-share-alt button-assertive othershare" ng-bind-html="otherShare"></a>
  
        </div>
      </div>
  
      </ion-content>
    </ion-modal-view>
  </script>
  
  <script id="modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-assertive">
          <div class="button button-icon" ng-click="modal.hide()"><span class="icon ion-android-arrow-back"></span></div>
          <h1 class="title" ng-bind-html="data.offer_angebot"></h1>
          
        </ion-header-bar>
    
        <ion-content>   
    
            <div class="padding" id="offer">
    
                <h5 class="title_border" ng-bind-html="detailsofferText"></h5>
                <p ng-bind-html="data.offer_description"></p>
                <br/>
                <div ng-if='data.offer_verantwortlich'>
                    <h5 class="title_border">Verantwortlich für dieses Angebot ist: </h5>
                    <p ng-bind-html="data.offer_verantwortlich"></p>
                </div>
                <br/>
              </div>
    
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="teil.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="bar bar-header bar-assertive">
            <div class="button button-icon" ng-click="teil.hide()"><span class="icon ion-android-arrow-back"></span></div>
            <h1 class="title" ng-bind-html="data.offer_angebot"></h1>
            
          </ion-header-bar>
      
          <ion-content>   
      
              <div class="padding" id="offer">
                  <div>
                      <h5 class="title_border">Teilnahmebedingungen: </h5>
                      <p ng-bind-html="data.offer_terms"></p>
                  </div>
                </div>
      
          </ion-content>
        </ion-modal-view>
      </script>

</ion-content>
</ion-view>
