<ion-view>
<ion-nav-title ng-bind-html="data.place_category_name"></ion-nav-title>

<ion-content has-bouncing="true" overflow-scroll="false"  class="">
<!--
<h3 class="title_center_with_border">{{selectType}}</h3>
<div class="padding">
  <a class="button button-block greenButton" href="#/tab/pcitycategory/{{cityName}}" type="button">Alle Angebote aus {{cityName}}</a>
</div>
<div class="row flex_wrap">
<div class="col col-33" ng-repeat="item in types" ng-if="item.place_type_category==data.place_category_id">
<div class="image_1">
<a href="#/tab/pcategory/{{item.id}}">
<img src="{{imagesfolder}}/{{item.place_type_image}}" cache-src="{{imagesfolder}}/{{item.place_type_image}}">
<h5 ng-bind-html="item.place_type_name"></h5>
</a>
</div>
</div>
</div>
-->
<h3 class="city_title_center_with_border">{{selectType}}</h3>

<!--<div class="row flex_wrap nonPadding" >
<div class="col-33" ng-repeat="item in types" ng-if="item.place_type_category==data.place_category_id">
  
        <a href="#/tab/pcategory/{{item.id}}">
        <div class="citybanner" style="background-image:  linear-gradient(-225deg, rgba(4, 4, 4, 0.28) 0%, rgba(0, 0, 0, 0.27) 25%), url({{imagesfolder}}/{{item.place_type_image}});">
                <div class="banner-content">
                   
                  // comment this line <h1>{{city}}</h1>
                  <h1 ng-bind-html="item.place_type_name"></h1>
                </div>
              </div>
              </a>
</div>
</div>
-->

<div class="row responsive-sm flex_wrap">
  <div class="col col-100 col-res-50" ng-repeat="item in types" ng-if="item.place_type_category==data.place_category_id" style="margin-bottom: 0px;" style="margin-bottom: 0px;">
   <div class="card-2" style="margin: 0;background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 59%, rgba(0, 0, 0, 0.61) 100%), url('{{imagesfolder}}/{{item.place_type_image}}')" src-is="background">
    <div class="card-2-category"><span class="card-2-price" ng-bind-html="item.place_type_name"></span> <!--<span class="card-2-oldprice">{{item.offer_oldprice}}{{currency}}</span>--></div>
    <div class="card-2-description">
      <!--<h2 ng-bind-html="item.offer_category_name"></h2>
      <p ng-bind-html="item.category_name"></p>-->
    </div>
    <a class="card-2-link" href="#/tab/filterPlacesByCategory/{{item.id}}" ></a>
  </div>
  </div>
  </div>

<div class="padding">
    <a class="button button-block greenButton" href="#/tab/pcitycategory/{{cityName}}" type="button">Alle Angebote aus {{cityName}}</a>
  </div>
</ion-content>

</ion-view>
